<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createClassServlet</servlet-name>
        <servlet-class>servlet.createClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermServlet</servlet-name>
        <servlet-class>servlet.TermServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>servlet.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>servlet.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserNameServlet</servlet-name>
        <servlet-class>servlet.EditUserNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPasswordServlet</servlet-name>
        <servlet-class>servlet.EditPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteClassServlet</servlet-name>
        <servlet-class>servlet.deleteClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClassServlet</servlet-name>
        <servlet-class>servlet.ManageClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuizServlet</servlet-name>
        <servlet-class>servlet.addQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteQuizServlet</servlet-name>
        <servlet-class>servlet.deleteQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>servlet.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>servlet.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectiveQuizServlet</servlet-name>
        <servlet-class>servlet.SubjectiveQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClassServlet</servlet-name>
        <servlet-class>servlet.ViewClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizPageServlet</servlet-name>
        <servlet-class>servlet.QuizPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishQuizServlet</servlet-name>
        <servlet-class>servlet.FinishQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServlet</servlet-name>
        <servlet-class>servlet.EditQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>servlet.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoingQuizServlet</servlet-name>
        <servlet-class>servlet.DoingQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObjectiveQuizServlet</servlet-name>
        <servlet-class>servlet.ObjectiveQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createClassServlet</servlet-name>
        <url-pattern>/createClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermServlet</servlet-name>
        <url-pattern>/Term</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/CreateQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPasswordServlet</servlet-name>
        <url-pattern>/EditPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserNameServlet</servlet-name>
        <url-pattern>/EditUserName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteClassServlet</servlet-name>
        <url-pattern>/deleteClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClassServlet</servlet-name>
        <url-pattern>/ManageClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuizServlet</servlet-name>
        <url-pattern>/addQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteQuizServlet</servlet-name>
        <url-pattern>/deleteQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createClassServlet</servlet-name>
        <url-pattern>/createClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectiveQuizServlet</servlet-name>
        <url-pattern>/SubjectiveQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClassServlet</servlet-name>
        <url-pattern>/ViewClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizPageServlet</servlet-name>
        <url-pattern>/QuizPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishQuizServlet</servlet-name>
        <url-pattern>/FinishQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServlet</servlet-name>
        <url-pattern>/EditQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoingQuizServlet</servlet-name>
        <url-pattern>/DoingQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObjectiveQuizServlet</servlet-name>
        <url-pattern>/ObjectiveQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
